VITE_SUPABASE_URL="https://asrbljslbfrredkkymhm.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFzcmJsanNsYmZycmVka2t5bWhtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDIwNjk0MzAsImV4cCI6MjA1NzY0NTQzMH0.uxSHmF-vyGeVvsfnCzRj2iMCsx6Kh3qVrcW27qmLhRA"